<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      * {
        padding: 0;
        margin: 0;
      }
      .fix {
        position: fixed;
        right: 0;
        left: 0;
      }
      h1 {
        text-align: center;
        margin: 10px;
      }
      nav {
        background-color: burlywood;
      }
      ul {
        list-style: none;
        display: flex;
      }
      li a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
        margin-left: 30px;
      }
      li a:hover {
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="fix">
      <h1 class="text-3xl my-5 font-bold">Selamat Datang di Sekolah</h1>
      <nav>
        <ul>
          <li><a href="/student">Student</a></li>
          <li><a href="/teacher">Teacher</a></li>
          <li><a href="/mapel">Mapel</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
